body {
    background-color: rgb(37, 41, 36);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: auto;
    padding: 0;
    display: block;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: left;
}


